body *{
  font-family: 'Muli', 'Arial','Helvetica', sans-serif;
  /* background: #ebebeb; */
  color: #282828;
  margin: 0;
  padding: 0;
}

a{
  color: #366194;
  text-decoration: none;
}
p{
  font-size: 18px;
}
h1,h2,h3{
  font-weight: 200;
  color: #366194;
}
h1{
  font-size: 36px;
}
/* color for future #3f83a3 */

.chatpage-container{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  color: #366194;
  padding: 3px 10px;
  align-items: center;
  font-size: 22px;
}

.logo img{
  width: 34px;
  height: 35px;
  margin-right: 10px;
}

.stop{
  font-size: 18px;
  padding-right: 10px;
}

.zengreet-action{
  margin: 0 auto;
  background-color: white;
  max-width: 700px;
  width: 100%;
}
/* 
.hide{
  display:none!important;
} */

.disappear{
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.reveal {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loading{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loading p{
  font-size: 22px;
  margin-bottom: 0;
}

#loading img{
  padding-bottom: 10px;
  width: 350px;
  height: 350px;
}

.loading-container{
  position: absolute;
  z-index: 10;
}

.videos-prompts{
  position: absolute;
  z-index: 0;
  width: 100%;
  background: white;
}

.video-container{
  position: relative
}

#received_video{
  width: 100%;
  object-fit: cover;
  height: 70vh;

}

#local_video{
  position: absolute;
  object-fit: cover;
  height: 25vh;
  width: 25%;
  top: 0;
  right: 0;
}

#greetings{
  text-align: center;
  font-size: 28px;
  color: #366194;
  padding: 25px;
  min-height: 40px;
}


/* THANK YOU SECTION */

.thankyou-container{
  max-width: 700px;
  margin: 50px auto 0;
  background-color: white;
}

.text-container{
  padding-top: 15px;
  text-align: center;
  max-width: 700px;
}

a.thankyou{
  display: inline-block;
  color: #366194;
  border: 3px solid #366194;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

a.thankyou:hover,
a.thankyou:focus,
a.thankyou:active{
  background-color: #366194;
  color: #fff;
}


/* hompage */

.homepage-container{
  margin: 0 auto;
  background-color: #fff;
  max-width:1000px;
  width:100%;
  text-align: center;
  /* border:1px solid green; */
}

.homepage-container header{
  justify-content: center;
}
.homepage-container .logo{
  font-size: 32px;
  padding: 15px;
}
.homepage-container header img{
  width: 48px;
  height: 50px;
}
#particles-js{
  width: 100%;
  height: 60vh;
  background-color: #fff;
}

.banner{
  position: relative;
}
.connect{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  height: auto;
}

.connect h2{
  text-shadow: #e0e0e0 1px 1px 0, 4px 4px 4px rgba(0,0,0,0);
  margin-bottom: 25px;
  background:rgba(255,255,255, 0.5);
  font-weight: 500;
}

.connect a{
  background: #366194;
  color: #fff;
  font-size: 20px;
  padding:10px 25px;

}


.dot-box {
    display: inline-block;
    border: 1px solid #777777;
    padding: 5px;
    margin: 3px;
    position: relative;
    width: 40px;
    height: 40px;
}
.dot {
  width: 35px;
  border-radius: 50%;
  height: 35px;
  background: #ef4641;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes sideways {
  0%   {left:25%;}
  50% {background-color:#3267fc; left:75%;}
  100% {background-color:#74e911; left:25%;}
}
@keyframes updown {
  0%   {opacity: 1; top:75%;}
  50% {opacity:.3; top:25%;}
  100% {opacity: 1; top:75%;}
}
@keyframes leftdown {
  0%   {top:75%; left:25%;}
  50% {background-color:#3267fc; top:50%; left:50%;}
  100% {background-color:#f48730; top:75%; left:25%;}
}
.green{
  background-color: #74e911;
  animation: sideways 2s;
  animation-iteration-count:infinite;
}
.blue{
  background-color: #3267fc;
}

.updown{
  animation: updown 2s;
  animation-iteration-count:infinite;
}
.light-blue{
  background-color: #20a2fa;
}
.pink{
  background-color: #ec65c5;
}
.orange{
  background-color: #f48730;
  animation: leftdown 1s;
  animation-iteration-count:infinite;
}
.purple{
  background-color: #8f6dfd;
}

.homepage-text{
  text-align: center;
  font-size: 24px;
  padding: 5px;
  max-width: 700px;
  margin: 0 auto;
}

.homepage-definitions{
  max-width: 700px;
}

.definition-row{
  display: flex;
  align-items: baseline;
}

.definition-word{
  min-width: 75px;
  margin-right: 15px;
}

.definition-explained{
  text-align: left;
}

footer {
  text-align: center;
  background: #eaeaea;
  padding: 10px;
}

footer p{
  margin: 0;
  padding: 2px;
}

@media only screen and (min-device-width: 700px) {
  .videos-prompts{
    width: 700px;
  }
  #local_video{
    width:20%;
  }
  .homepage-text{
    font-size: 18px;
  }
  a.connect{
    font-size: 22px;
  }

}
